#contacto{
    background-color:rgb(177, 177, 177);
    color: rgb(255, 230, 0);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    height: 20%;
    width:100%;
    border: 10px black groove;
    border-radius: 10%;
    

}

.h3footer{
    background-color:black;
    width: 200px;
    border: black groove 2px;
    border-radius:10%;
    margin-left: 43%;
    margin-right: 45%;
}

.divfooter{
    background-color:rgb(255, 230, 0);
    width: 300px;
    padding: 1%;
    border: black groove 5px;
    border-radius:90%;
    margin-left: 39%;
    margin-right: 45%;
}

header{
background-color:rgb(120, 113, 255);
color: white;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: large;
height:20% ;
width: auto;
margin-left:1%;
margin-right:5px;
}